<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body style="background-color: cornsilk;">
    <nav>
        <ul style="display: flex;justify-content: space-evenly;font-size: 42px;border: 56px outset #d0b9d08f;">
            <li><a href="/">Home</a></li>
            <li><a href="/services">Our Services</a></li>
            <li><a href="/contact">Contact us</a></li>
        </ul>



        </ul>
    </nav>
    <div class="content">
        <h1 style="
        color: mediumblue;
        text-align: center;
        padding: 34px;
    ">Contact Us :</h1>

        <p style="
        font-size: 31px;
        font-style: italic;
        text-decoration: underline;
    ">Feel free to get in touch with us for any inquiries or assistance.</p>
        <p style="
        font-size: 31px;
        font-style: italic;
    ">Email: shophere@gmail.com</p>
        <p style="
        font-size: 31px;
        font-style: italic;
    ">Phone: (+216) 21 111 063</p>
        <img src="/images/contact.png" alt="Contact Image" style="
        height: 368px;
        border-radius: 10px;
        position: absolute;
        margin-left: 413px;
    ">
    </div>
</body>


</html>