<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Services</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body style="background-color: cornsilk;">
    <nav>
        <ul style="display: flex;justify-content: space-evenly;font-size: 42px;border: 56px outset #d0b9d08f;">
            <li><a href="/">Home</a></li>
            <li><a href="/services">Our Services</a></li>
            <li><a href="/contact">Contact us</a></li>
        </ul>

        </ul>
    </nav>
    <div class="content">
        <h1 style="
    color: mediumblue;
    text-align: center;
    padding: 34px;
">Our Services :</h1>
        <p style="
        font-size: 31px;
        font-style: italic;
        text-decoration: underline;
    ">We provide a variety of services tailored to your needs.</p>
        <img src="/images/services.png" alt="Services Image" style="
        height: 368px;
        border-radius: 10px;
        position: absolute;
        margin-left: 530px;
    ">
    </div>
</body>

</html>